*{
	color: blue;
/*	background-color: #F5EDE3;
*/}

* { margin: 0; padding: 0;}
body { font: 13px Helvetica, Arial; }
#chatInput { 
	background: #aaa; 
	padding: 3px; 
	position: absolute; 
	bottom: 0;
	width: 100%;
}
#chatInput input {
	width: 86%;
}

/*input { border: 0; padding: 10px; width: 85%; margin-right: .5%; }*/
button { background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages_ul: nth-child(odd) { background: #eee; }

.alternate:nth-child(odd){
	background: #aabbcc;
}

#logo{
	border: 2px solid black;
	height: 3em;
	display: inline-block;
	padding: 1%;
	margin-top: 3%;
	position: static;
}

body{
	/* so sticky nav bar doesnt overlay start of text*/
	padding-top: 60px;
/*	background-image: url(http://images.npg.org.uk/800_800/1/5/mw00015.jpg);
*/	/*background-repeat: no-repeat;*/
	background-size: 100%;
	/*background-position: center;*/
}

li{
	list-style-type: none;
}

div#chatbox{
	position: relative;
	/*height: 400px;*/
	min-height: 10em;	
	width: 400px;
	border: 4px solid #aabbcc;
	margin: 0 auto;
}
/*
#override{
	position: relative;
	margin: 0 auto;
}*/

form#messageForm > * {
  display: inline-block;
}

form#messageForm input {
width: 69%;
}

form#messageForm button {
width: 30%;
}

nav{
	background: #aaccbb;
}

.profile-form-container {
	text-align: center;
}

.caption, .profile-form {
	display: inline-block;
}

.header-padding {
	padding-top: 0.5em;
}

.contact-info-container {
	display: inline-block;
}

.contactinfodiv {
	width: 40%;
	margin: 0 auto;
}

