<section ng-show="users.checkLoggedIn()">
  <div id="override" class="row">
    <div class="profile-form-container">
      <img ng-src="{{ users.user.local.image }}">
      <div class="caption">
        <form class="profile-form" ng-submit="users.editUser()">
          <label> Email </label>
          <input ng-model="users.user.local.email">
          <input class="btn" type="submit">
        </form>
        <a class="btn btn-danger" href="/" ng-click="users.deleteUser()"> Delete Me</a>
      </div>
    </div>
  </div>
  
</section>

